body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main_menu {
    background: $color_corp;
    box-shadow: none;
    .brand-logo {
        font-size: 3rem;
        & img {
            width: 140px;
            margin: 0;
            padding: 0;
        }
    }
}