* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $color_corp_2;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    background: transparent;
    position: relative;
    top: 0;
    position: fixed;
    background: $color_corp;
    z-index: 1000;
    & nav {
        width: 100%;
        margin: auto;
        & ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: auto;
            & li {
                list-style: none;
                width: 100%;
                & a {
                    line-height: 60px;
                    height: 60px;
                    color: white;
                    font-size: 1rem;
                    display: block;
                    text-align: center;
                    letter-spacing: 1px;
                    font-family: $first_font;
                    text-decoration: none;
                    transition: all .4s ease-in-out;
                }
                & a:hover {
                    background-color: white;
                    color: #726141;
                }
            }
        }
    }
}